# /node_modules/* and /bower_components/* in the project root are ignored by default

# "Important: Note that 'node_modules' directories in, for example, a 'packages' directory in a mono repo are not ignored by default and need to be added to .eslintignore explicitly." source: ——> [Configuring ESLint - ESLint - Pluggable JavaScript linter](https://eslint.org/docs/user-guide/configuring.html#ignoring-files-and-directories)

# Ignore built files except build/index.js
build/*
# !build/index.js

dist/*
coverage/*
output/*
lib/*
